{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'popup.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    {% comment %} <link src="{% static 'vendor/chart.js/chart.umd.js' %}" rel="stylesheet"> {% endcomment %}
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
 
        .initial-form-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
 
        .logo {
            display: block;
            margin: 0 auto;
            max-width: 80%;
            height: 10%;
            width: 40%;
            padding-top: 0;
        }
 
        #incomeFields div {
            margin-bottom: 10px;
        }
 
        .header-main,
        .main-content {
            display: none;
 
        }
        .main-content{
            width: 550px;
        }
        #form {
            width: 30%;
            margin: 0 auto; 
        }
        .cls{
            display:flex;
            flex-direction: row;
        }
 
    </style>
</head>
 
<body>
 
    <header>
        <div class="header-main">
            <div class="container">
                <a href="#" class="header-logo">
                    <img src='{% static 'assets/logo.png' %}' alt="LOGO" width="80" height="80" />
                </a>
 
                <!--  <div class="header-search-container">
                    <input type="search" name="search" class="search-field" placeholder="Search" />
 
                    <button class="search-btn">
                        <ion-icon name="search-outline"></ion-icon>
                    </button> 
                </div> -->
                <div class="actions">
                    <div class="header-user-actions">
                        <button class="action-btn">
                            <ion-icon name="person-outline" class="person-outlines"></ion-icon>
                        </button>
                        <button>
                            <a class="home" href="/">Home</a>
                        </button>
 
                          <a class="divider">|</a>
                        <button>
                          <a class="emi-text" href="calculator">Calculator</a>
                      </button>
 
                        <a class="divider">|</a>
                        <button>
                            <a class="alert" href="{% url 'custom' %}">Custom Alert</a>
                        </button>
 
                          <a class="divider">|</a>
                        <button>
                            <a class="faq-text" href='faq'>FAQ</a>
                        </button>
                        <a class="divider">|</a>
                        <button>
                            <a class="login-text" href="{% url 'my_login' %}">Logout</a>
                        </button>
                        <a class="divider">|</a>
                        <button>
                            <a class="hello-msg" href='account'>Hello, {{request.user}}</a>
                        </button>
                        <button class="lang-button">
                            <ion-icon name="globe-outline" class="globe-oulines"></ion-icon>
                        </button>
                        <div class="language-container">
                            <a class="EN" href="account">Settings</a>
                            <a class="down-arrow">⌄</a>
                        </div>
 
                    </div>
                </div>
            </div>
        </div>
 
        <div class="mobile-bottom-navigation">
            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="menu-outline"></ion-icon>
            </button>
 
            <button class="action-btn">
                <ion-icon name="bag-handle-outline"></ion-icon>
            </button>
 
            <button class="action-btn">
                <ion-icon name="home-outline"></ion-icon>
            </button>
 
            <button class="action-btn">
                <ion-icon name="heart-outline"></ion-icon>
            </button>
 
            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="grid-outline"></ion-icon>
            </button>
        </div>
    </header>
     <!-- Popup Container -->
     {% comment %} <div class="popup-container" id="popupContainer">
      <div class="popup" id="popup">
          <img src="{% static 'assets/tick.png' %}">
          <h2>Thank You!</h2>
          <p>Your details have been successfully submitted. Thanks</p>
          <button type="button" onclick="closePopup()">OK</button>
      </div> {% endcomment %}
  </div>
 
  <div class="cls" >
    <div class="row">
        <div class="col-md-8">
            <h4>Expense and Income</h4>
            <hr>
            <canvas id="expenseAndIncomeChart" width="400" height="250"></canvas>
        </div>
 
    </div>
    <div class="row">
        <div class="col-md-12 main-content">
            <div class="container">
                <h4>Your Balance</h4>
                <h1><span id="balance"></span></h1>
                <div class="inc-exp-container">
                    <div>
                        <h4>Income</h4>
                        <p><span id="money-plus" class="money-plus"></span></p>
                    </div>
                    <div>
                        <h4>Expense</h4>
                        <p><span id="money-minus" class="money-minus"></span></p>
                    </div>
                    <div>
                        <h4>Saving Goal</h4>
                        <p><span id="saving1" class="saving1">{{saving_amount }}</span></p>
                    </div>
                </div>
                <h3>History</h3>
                <ul id="list" class="list">
                    <!-- <li class="minus">
                          Cash <span>-$400</span
                          ><button class="delete-btn">x</button>
                        </li> -->
                </ul>
            </div>
            {% comment %} <form id="form"> {% endcomment %}
                <div id="form">
                    <h3>Add New Transaction</h3>
                <div class="form-control">
                    <label for="text">Text</label>
                    <input type="text" name = "text1" id="text" placeholder="Enter Text...."/>
                </div>
                <div class="form-control">
                    <label for="amount">Amount <br> (negative - expense ,positive - income )</label>
                    <input type="number" name = "amount1" id="amount" placeholder="Enter amount..."> 
                </div>
                <button type="button" class="btn-add" onclick='addTransaction()'>Add transaction</button>
            </div>
            {% comment %} </form> {% endcomment %}
        </div>
 
 
 
 
        </div>
        <div class="cls2" >
        <div class="row">
 
            <div class="col-md-8">
                <h4>Expense by Category</h4>
                <hr>
                <canvas id="expensebycategory" width="400" height="250"></canvas>
            </div>
 
        </div>
    
        </div>
    </div>
 
 
 
 
 
 
 
 
 
 
 
 
    {% if is_first_login %}
    <div class="initial-form-container">
        <script>
        document.querySelector(".main-content").style.display = "none";
    //     document.querySelector(".cls").style.display = "none";
    // document.querySelector(".cls2").style.display = "none";
 
        </script>
        <img class="logo" src="{% static 'assets/logo.png' %}">
        <h2>Welcome to Money Minder! Let's set up your initial details.</h2>
        <form id="initial-form" method = 'POST' action='{% url "save_income" %}'>
            {% csrf_token %}    
            <label for="numIncomes">Number of Income Sources:</label>
            <input type="number" name = "numIncomes"id="numIncomes" min="1" max="100" required>
            <div id="incomeFields">
                <div id="incomeContainer"></div>
            </div>
 
            <label for="monthlyExpenses">Monthly Expense:</label>
            <input type="number" name="exp_amt" id="monthlyExpenses" min="0" placeholder="Enter Monthly Expenses Till Now" required />
            <!-- End of added portion -->
            <label for="saving">Saving Goal (Percentage):</label>
            <input type="number" name="saving_goal" id="saving" min="1" max="100" placeholder="Enter Saving Goal in %" required />
            <button type="button" id="nextButton" onclick="generateIncomeFields()">Next</button>
            {% comment %} <button type="submit" id="submitButton" style="display: none;" onclick="submitForm()">Submit</button> {% endcomment %}
            <button type="submit" id="submitButton" style="display: none;" onclick = "submitForm()">Submit</button>
        </form>
    </div>
    {% else %}
    <script>
        document.querySelector(".main-content").style.display = "block";
        document.querySelector(".header-main").style.display = "block";
        // document.querySelector(".cls").style.display = "block";
        // document.querySelector(".cls2").style.display = "block";
        
    </script>
    {% endif %}
 
 
<script>
document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('show_elements')) {
      document.querySelector(".header-main").style.display = "block";
      document.querySelector(".main-content").style.display = "block";
    //   document.querySelector(".cls").style.display = "block";
    // document.querySelector(".cls2").style.display = "block";
      document.querySelector(".initial-form-container").style.display = "none";
    }
  }); 
  {% comment %} document.getElementById('income_source').addEventListener('change', function() {
    var incomeSourceId = this.value;
    fetch('/update_income_amount/?income_source_id=' + incomeSourceId)
        .then(response => response.json())
        .then(data => {
            document.getElementById('money-plus').innerText = data.income_amount;
            document.getElementById('money-minus').innerText = data.expense_amount;
            updateBalance();
        }); 
 
}); {% endcomment %}
{% comment %} function updateBalance() {
    var incomeAmount = parseFloat(document.getElementById('money-plus').innerText);
    var expenseAmount = parseFloat(document.getElementById('money-minus').innerText); // Fixed expense amount
    var balance = incomeAmount - expenseAmount;
    document.getElementById('balance').innerText = + balance.toFixed(2);
}
updateBalance(); {% endcomment %}
</script>
<script src="{% static 'js/script.js' %}"></script>
 
 
    <script>
 
 
        var ctx = document.getElementById('expenseAndIncomeChart').getContext('2d');
        var expenseAndIncomeChart = new Chart(ctx, {
        type: 'line',
        data: { 
            labels: ['Placeholder1', 'Placeholder2', 'Placeholder3'],
            datasets: [{
                label: 'Expense',
                data: [0, 0, 0],
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2,
                fill: false
            }, {
                label: 'Income',
                data: [0, 0, 0],
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 2,
                fill: false
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
 
        var ctx2 = document.getElementById('expensebycategory').getContext('2d');
        var expensebycategory  = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ['Placeholder1', 'Placeholder2', 'Placeholder3'],
                datasets: [{
                    label: '# of Products',
                    data: [0, 0, 0],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.8)',
                        'rgba(75, 192, 192, 0.8)',
                        'rgba(153, 102, 255, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(240, 120, 50, 0.8)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(240, 120, 50, 1)',
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });    
 
        var dates = [
 
        ];
 
        var expenses = [
 
        ];
 
        // Combine dates and expenses into datasets
        var data = [];
        for (var i = 0; i < dates.length; i++) {
            data.push({x: dates[i], y: expenses[i]});
        }
 
        // Sort data by date
        data.sort(function(a, b) {
            return new Date(a.x) - new Date(b.x);
        });
 
        // Split sorted data back into dates and expenses
        var sortedDates = [];
        var sortedExpenses = [];
        for (var i = 0; i < data.length; i++) {
            sortedDates.push(data[i].x);
            sortedExpenses.push(data[i].y);
        }
 
 
        {% comment %} var ctx = document.getElementById('expenseAndIncomeChart').getContext('2d');
        var expenseAndIncomeChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: sortedDates,
                datasets: [{
                    label: 'Expense',
                    data: sortedExpenses,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            } {% endcomment %}
        {% comment %} }); {% endcomment %}
            
    fetch('/update_chvalues/')
    .then(response => response.json())
    .then(data => {
        
        expenseAndIncomeChart.data.datasets[0].data = data.e;
        expenseAndIncomeChart.data.datasets[1].data = data.i;
        expenseAndIncomeChart.data.labels = data.c;
        expenseAndIncomeChart.update();
        // expensebycategory.data.labels = data.c;
        
        expensebycategory.data.datasets[0].data = data.e;
        expensebycategory.data.labels = data.te;
        expensebycategory.update();
        
        dates = data.c;
        expenses = data.e;
        
    })
      
    .catch(error => {
        console.error('Error fetching data:', error);
   });
   fetch("/transaction/")
      .then((response) => response.json())
      .then((data) => {
        // Update the balance based on the response
       
        balance.innerText = `$${data.balance}`;
        money_plus.innerText = `$${data.income}`;
        money_minus.innerText = `$${data.expense}`;
        saving1.innerText = `$${data.svg_amt}`;
      });
</script>
</body>
 
</html>